/* src/styles/HowItWorksSection.css */
.how-it-works-div {
    background-color: #f8f9fa;
    padding: 130px;
  }
  
  .how-it-works-section {
    background-color: #fff;
    padding: 40px 10px;
  }
  
  .section-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    text-align: left;
  }
  
  .nav-pills .nav-link {
    background-color: transparent;
    color: #000;
    font-size: 14px;
    border-radius: 120px;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px 20px;
}
  
  .nav-pills .nav-link.active {
    text-align: center;
    font-size: 14px;
    border-radius: 120px;
    background-color: #ff9900;
    color: #000;
    border-color: #ff9900;
}
  
  /* Styles for Tabs 1, 2, and 3 (Three Cards) */
  .how-it-works-card {
    border: none;
    border-radius: 10px;
    background-color: #D9D9D9;
    text-align: center;
    padding: 30px 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .category-name{
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 15px;
  }
  
  .card-image {
    height: 150px;
    object-fit: contain;
    margin: 0 auto;
  }
  
  .card-subtitle {
    font-size: 0.9rem;
    color: #000;
    margin-top: 15px;
  }
  
  /* Styles for Tabs 4 and 5 (Single Large Card with Image) */
  .large-card {
    border: none;
    border-radius: 10px;
    background-color: #D9D9D9;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .large-card-title {
    font-size: 18px;
    font-weight: bold;
    color: #000;
  }
  
  .large-card-description {
    font-size: 16px;
    color: #000;
    padding-top: 25px;
    width: 65%;
  }
  
  .large-card-image {
    width: 100%;
    height: auto;
    max-height: 180px;
    object-fit: contain;
  }
  
  .description {
    font-size: 1rem;
    color: #000;
    text-align: center;
    margin-top: 20px;
  }
  
  /* Responsiveness */
  @media (max-width: 768px) {
    .how-it-works-div {
      padding: 50px;
    }
    
    .section-title {
      font-size: 1.2rem;
    }
  
    .nav-pills .nav-link {
      padding: 8px 15px;
      font-size: 0.9rem;
    }
  
    .how-it-works-card {
      padding: 15px;
    }
  
    .card-title {
      font-size: 1rem;
    }
  
    .card-image {
      height: 120px;
    }
  
    .card-subtitle {
      font-size: 0.8rem;
    }
  
    .large-card {
      padding: 15px;
    }
  
    .large-card-title {
      font-size: 1.2rem;
    }
  
    .large-card-description {
      font-size: 0.9rem;
    }
  
    .large-card-image {
      max-height: 200px;
    }
  
    .description {
      font-size: 0.9rem;
    }
  }