/* src/styles/PromoSection.css */
.promo-section {
    background-color: #fff;
  }
  
  .promo-card {
    position: relative;
    height: 400px; /* Adjust height as needed */
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    color: #fff;
    text-align: left;
  }
  
  .promo-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(245.7deg, rgba(255, 255, 255, 0) 0.94%, rgba(3, 8, 31, 0.19) 51.68%, rgba(3, 8, 31, 0.89) 87.9%); /* Dark overlay for better text visibility */
    z-index: 0;
  }
  
  .promo-card > * {
    position: relative;
    z-index: 1; /* Ensure content is above the overlay */
  }
  
  .badge {
    position: absolute;
    top: 0px;
    left: 20px;
    background-color: #fff;
    color: #000;
    padding: 18px 15px;
    border-radius: 0 0 5px 5px;
    font-size: 16px;
    z-index: 1;
  }
  
  .promo-title {
    font-size: 18px;
    width: 70%;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .promo-button {
    background-color: #ff9900 !important; /* Orange background */
    border-color: #ff9900 !important;
    color: #fff !important;
    border-radius: 20px;
    padding: 10px 40px;
    font-weight: 500;
    align-self: flex-start; /* Align button to the left */
  }
  
  .promo-button:hover {

    background-color: #e68a00 !important;
    color: #000 !important;
    border-color: #e68a00 !important;
  }
  
  /* Responsiveness */
  @media (max-width: 768px) {
    .promo-card {
      height: 300px; /* Smaller height on mobile */
    }
  
    .promo-title {
      font-size: 1.2rem;
    }
  
    .promo-button {
      padding: 8px 16px;
      font-size: 0.9rem;
    }
  
    .badge {
      font-size: 0.8rem;
      padding: 4px 8px;
    }
  }